<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
    <link href="../public/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1 id="header">URL Shortener</h1>
    <% if (locals.id) { %>
        <p>
            URL Generated: <%=id%>
        </p>
        <% } %>
            <div class="form-div">
                <form method="POST" action="/url">
                    <label>Enter Your Original URL</label>
                    <input type="text" placeholder="https://example.com" name="url" id="">
                    <button type="submit">Generate</button>
                </form>

            </div>
            <div>
                <% if(locals.urls){%>
                    <table>
                        <thead>
                            <th>S.No</th>
                            <th>ShortID</th>
                            <th>URL</th>
                            <th>Clicks</th>
                        </thead>
                        <% locals.urls.forEach((url,index)=> { %>
                            <tr>
                                <td>
                                    <%=index+1%>
                                </td>
                                <td>
                                    <%=url.shortId%>
                                </td>
                                <td>
                                    <%=url.redirectURL%>
                                </td>
                                <td>
                                    <%=url.visitHistory.length%>
                                </td>
                            </tr>
                            <% }) %>

                                <%}%>
            </div>

</body>

</html>